.abouts-wrapper {
    max-width: 2560px;
    background-color: var(--bg-1);
    position: relative;
}
.abouts-wrapper-left-bg {
    position: absolute;
    background-color: var(--bg-2);
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    z-index: 1;
}
.abouts-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.abouts-img {
    height: 100%;
    width: 100%;
}
.abouts-title {
    color: var(--text);
    font-size: var(--fs-80);
    filter: drop-shadow(-12px -12px 0px rgba(255, 255, 255, 0.2));
}
.abouts-right-name {
    color: var(--text);
    font-size: var(--fs-50);
    font-weight: bold;
}
.abouts-right-title {
    color: var(--text);
    font-size: var(--fs-contact);
}
.abouts-right-desc {
    color: var(--desc);
    font-size: var(--fs-nav);
    font-weight: 300;
}
.abouts-right-btn {
    color: var(--text);
    font-size: var(--fs-sm);
    padding: 10px 20px;
    border: 0.5px solid var(--text);
    border-radius: 5px;
    transition: all ease-in-out 300ms;
}
.abouts-right-btn:hover {
    color: var(--bg-1);
    background-color: var(--text);
}

.abouts-left {
    z-index: 10;
    height: 500px;
}
.abouts-left-container {
    width: 100%;
    height: 100%;
}
.abouts-left-img {
    width: 100%;
    height: 100%;
}
.abouts-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 300ms;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 2px 0px;
    border-radius: 10px;
}
.abouts-img:hover {
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
}



.tech-wrapper {
    background-color: var(--text);
}
.tech-title {
    color: var(--bg-1);
    font-size: var(--fs-50);
    font-weight: bolder;
}
.tech-stack-img-container {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.tech-stack-img-container img {
    height: 60%;
    width: 60%;
    transition: all ease-in-out 300ms;
}
.tech-stack-img-container:hover img {
    transform: scale(1.3);
}


.timeline-wrapper {
    background-color: var(--bg-1);
}
.timeline-line {
    border-left: 3px solid var(--text);
}





@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
   
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */

}
@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .abouts-wrapper-left-bg {
        position: absolute;
        background-color: var(--bg-2);
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
    }
    .abouts-title {
        font-size: var(--fs-80);
    }
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .abouts-title {
        font-size: var(--fs-50);
        filter: drop-shadow(-6px -5px 0px rgba(255, 255, 255, 0.2));
    }
    .abouts-img-container {
        height: 300px;
        width: 100%;
        position: relative;
    }
    .abouts-right-name {
        margin-top: 20px;
        font-size: 30px;
    }
    .abouts-right-title {
        font-size: 25px;
    }
}
@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .abouts-right-name {
        font-size: 23px;
    }
    .abouts-right-title {
        font-size: 18px;
    }
}



