.abouts-wrapper {
    max-width: 2560px;
    background-color: var(--bg-1);
    min-height: 100vh;
}
.abouts-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.abouts-img {
    height: 100%;
    width: 100%;
}
.abouts-title {
    color: var(--text);
    font-size: var(--fs-80);
    filter: drop-shadow(-12px -12px 0px rgba(255, 255, 255, 0.2));
}
.abouts-right-desc {
    color: var(--desc);
    font-size: var(--fs-sm);
    font-weight: 300;
}
.abouts-img-container {
    height: 500px;
    width: 100%;
    position: relative;
}
.abouts-banner-img {
    width: 80%;
    height: 100%;
    position: absolute;
    top: -50px;
    background-color: var(--text-hover);
    text-align: center;
}

.tech-wrapper {
    background-color: var(--text);
}
.tech-title {
    color: var(--bg-1);
    font-size: var(--fs-50);
    font-weight: bolder;
}
.tech-stack-img-container {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.tech-stack-img-container img {
    height: 60%;
    width: 60%;
    transition: all ease-in-out 300ms;
}
.tech-stack-img-container:hover img {
    transform: scale(1.3);
}


.timeline-wrapper {
    background-color: var(--bg-1);
}
.timeline-line {
    border-left: 3px solid var(--text);
}





@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
   
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */

}
@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .abouts-title {
        font-size: var(--fs-title);
    }
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .abouts-title {
        font-size: var(--fs-25);
    }
    .abouts-img-container {
        height: 300px;
        width: 100%;
        position: relative;
    }
}
@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */

}



