.copyright-wrapper {
    background-color: #0a0a0a;
    padding: 0.5em 0;
    max-width: 2560px;
}
.copyright {
    font-size: 12px;
    margin: 0;
    color: #fcfcfc;
}
.copyright a {
    color: #fcfcfc;
    font-weight: 600;
}

@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */

}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */

}

@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */

}

@media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */

}

@media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
    
}