.dev-wrapper {
    background-color: var(--bg-1);
}
.dev-title-container {
    height: 100%;
    width: 100%;
}
.dev-title-img {
    height: 100px;
}
.dev-title {
    font-size: var(--fs-contact);
    font-weight: bolder;
    color: var(--text);
    text-align: center;
}

.dev-img-container {
    width: 100%;
    height: 100%;
}
.dev-img {
    height: 60%;
    width: 100%;
}
.dev-img-name {
    color: var(--text);
    font-size: var(--fs-contact);
    font-weight: 300;
}
.dev-sub,
.dev-sub-2 {
    color: var(--text);
    font-size: var(--fs-nav);
}
.dev-sub {
    font-size: var(--fs-title);
}