/* BANNER WRAPPER */
.banner-wrapper {
    max-width: 2560px;
    height: 100vh;
    min-height: 100vh;
    background: url(/images/banner-mobile.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.banner-container {
    position: relative;
    max-width: 2560px;
}
.banner-title {
    color: var(--text);
    font-size: var(--fs-100);
    position: absolute;
    top: 0;
}
.banner-sm-container {
    position: relative;
}
.banner-sm-list {
    position: absolute;
    left: 0;
}
.banner-sm a {
    color: var(--text);
    font-size: var(--fs-sm);
    font-weight: 600;
}
.banner-social-scroll {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--text);
    transition: all ease-in-out 300ms;
    z-index: 999;
}
.banner-scroll a{
    display: block;
    color: var(--bg-1);
    font-size: var(--fs-sm);
    font-weight: 600;
    transition: all ease-in-out 300ms;
}
.scroll-none {
    display: none;
    transition: all ease-in-out 300ms;
}
.banner-img-container {
    position: absolute;
    bottom: 0;
}
.banner-img-bg {
    height: 700px;
    z-index: 5;
}
.banner-mobile {
    z-index: 10;
}
.banner-mobile a {
    color: var(--text);
    font-size: var(--fs-sm);
    font-weight: 600;
}

.fade-in {
    animation: fadeIn ease-in-out 300ms;
    -webkit-animation: fadeIn ease-in-out 300ms;
    -moz-animation: fadeIn ease-in-out 300ms;
    -o-animation: fadeIn ease-in-out 300ms;
    -ms-animation: fadeIn ease-in-out 300ms;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-out {
    animation: fadeOut ease-in-out 300ms;
    -webkit-animation: fadeOut ease-in-out 300ms;
    -moz-animation: fadeOut ease-in-out 300ms;
    -o-animation: fadeOut ease-in-out 300ms;
    -ms-animation: fadeOut ease-in-out 300ms;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity:0;
    }
}


.fade-left {
    animation: fadeLeft ease-in-out 300ms;
    -webkit-animation: fadeLeft ease-in-out 300ms;
    -moz-animation: fadeLeft ease-in-out 300ms;
    -o-animation: fadeLeft ease-in-out 300ms;
    -ms-animation: fadeLeft ease-in-out 300ms;
}
@keyframes fadeLeft {
    0% {
        left: 0;
    }
    25% {
        left: -5px;
    }
    50% {
        left: -10px;
    }
    75% {
        left: -15px;
    }
    100% {
        left: -20px;
    }
}

.fade-right {
    animation: fadeRight ease-in-out 300ms;
    -webkit-animation: fadeRight ease-in-out 300ms;
    -moz-animation: fadeRight ease-in-out 300ms;
    -o-animation: fadeRight ease-in-out 300ms;
    -ms-animation: fadeRight ease-in-out 300ms;
}
@keyframes fadeRight {
    0% {
        left: -40px;
    }
    25% {
        left: -30px;
    }
    50% {
        left: -20px;
    }
    75% {
        left: -10px;
    }
    100% {
        left: 0;
    }
}



/* ABOUT WRAPPER */
.about-wrapper {
    max-width: 2560px;
    width: 100%;
    background-color: var(--bg-2);
}

.about-sub {
    color: var(--text);
    font-size: var(--nav);
}
.about-title {
    color: var(--text);
    font-size: var(--fs-title);
    font-weight: bolder;
    filter: drop-shadow(-12px -12px 0px rgba(255, 255, 255, 0.2));
}
.about-dates {
    color: var(--text);
    font-weight: bold;
}
.about-overview ul li{
    color: var(--text);
}
.overview-title {
    font-size: var(--fs-md);
    color: var(--text);
}
.about-btn {
    color: var(--text);
    font-size: var(--fs-sm);
    padding: 10px 20px;
    border: 0.5px solid var(--text);
    border-radius: 5px;
    transition: all ease-in-out 300ms;
}
.about-btn:hover {
    color: var(--bg-1);
    background-color: var(--text);
}
.about-stack-img-container {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--text);
    border-radius: 5px;
}
.about-stack-container img {
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: all ease 300ms;
    transform-origin: 50% 50%;
    transition: transform 300ms, filter 300ms ease-in-out;
    cursor: pointer;
}
.about-stack-container img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}


/* SKILL WRAPPER */
.skill-wrapper {
    width: 100%;
    position: relative;
    z-index: 9;
}
.skill-container {
    width: 80%;
}
.skill-box .box {
    background-color: var(--text);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin-bottom: 3em;
    margin-top: -3em;
}
.skill-sub {
    color: var(--bg-1);
    font-size: var(--nav);
}
.skill-title {
    color: var(--bg-1);
    font-size: var(--fs-email);
    font-weight: bolder;
    line-height: 0.8;
}
.skill-dates {
    color: var(--bg-1);
    font-weight: bold;
}
.skill-wrapper .design {
    color: var(--bg-1);
    font-size: var(--fs-contact);
}
.skill-icon-container {
    width: 100%;
    height: 100px;
}
.skill-icon-container img{
    height: 100%;
}
.skill-desc {
    font-size: var(--fs-sm);
}


/* PROJECTS WRAPPER */
.project-wrapper {
    max-width: 2560px;
    background-color: var(--bg-1);
}
.project-sub {
    color: var(--text);
    font-size: var(--nav);
}
.project-title {
    color: var(--text);
    font-size: var(--fs-title);
    font-weight: bolder;
    filter: drop-shadow(-12px -12px 0px rgba(255, 255, 255, 0.2));
}
.project-dates {
    color: var(--text);
    font-weight: bold;
}
.project-img-container {
    height: 200px;
    width: 100%;
    position: relative;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}
.project-img-container .overlay {
    position: absolute;
    background-color: var(--overlay);
    height: 100%;
    width: 100%;
    transition: all ease-in-out 300ms;
}
.project-img-container:hover .overlay {
    opacity: 0.3;
}
.project-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.project-name {
    color: var(--text);
    font-size: var(--fs-proj);
    font-weight: bolder;
    position: absolute;
    top: 0;
}
.project-date {
    color: var(--text);
    font-size: var(--fs-sm);
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
}
.project-date.mid {
    color: var(--text);
    font-size: var(--fs-sm);
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
}
.project-name.mid {
    color: var(--text);
    font-size: var(--fs-proj);
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
}
.project-btn {
    color: var(--text);
    font-size: var(--fs-sm);
    padding: 10px 20px;
    border: 0.5px solid var(--text);
    border-radius: 5px;
    transition: all ease-in-out 300ms;
}
.project-btn:hover {
    color: var(--bg-1);
    background-color: var(--text);
}




/* CONTACT WRAPPER */
.contact-wrapper {
    max-width: 2560px;
    background-color: var(--bg-1);
}
.contact-title {
    color: var(--text);
    font-size: var(--fs-100);
    line-height: 0.8;
    margin: 0;
    filter: drop-shadow(-12px -12px 0px rgba(255, 255, 255, 0.2));
}
.contact-sub {
    color: var(--text);
    font-size: var(--nav);
}
.contact-email {
    color: var(--text);
    font-size: var(--fs-email);
}
.contact-email:hover {
    color: var(--text-hover);
}
.contact-email::after {
    content: '';
    display: block;
    height: 1.5px;
    background: var(--text-hover);
    transform: scaleX(0);
    transition: transform .3s;
}
.contact-email:hover::after {
    transform: scaleX(1);
    transition: transform .3s;
}











@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .banner-title {
        font-size: 60px;
    }
    .skill-title {
        font-size: 60px;
    }
    .contact-title {
        font-size: 80px;
    }
    .contact-name {
        font-size: 22px;
    }
    .contact-social-links {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
    .banner-title {
        font-size: var(--fs-100);
    }
    .skill-title {
        font-size: var(--fs-email);
    }
}
@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .banner-wrapper {
        height: 100vh;
        background: url(/images/mobile-bg.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
    }
    
    .banner-title {
        margin-top: 10px;
    }
    .banner-title {
        font-size: 60px;
    }
    .about-title {
        font-size: 30px;
    }
    .skill-title {
        font-size: 30px;
    }
    .project-title {
        font-size: 30px;
    }
    .skill-wrapper .design {
        font-size: 20px;
    }
    .project-name,
    .project-name.mid {
        font-size: 25px;
    }
    .contact-title {
        font-size: 30px;
    }
    .contact-name {
        font-size: 20px;
    }
    .contact-social-links {
        font-size: 20px;
    }
    .contact-email {
        font-size: 40px;
    }
    .banner-img-bg {
        height: 500px;
        z-index: 5;
    }
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .banner-wrapper {
        height: 100vh;
        background: url(/images/mobile-bg.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }
    .banner-title {
        font-size: 40px;
    }
    .banner-img-bg {
        height: 400px;
        z-index: 5;
    }
    .about-title {
        font-size: 20px;
        filter: drop-shadow(-6px -5px 0px rgba(255, 255, 255, 0.2));
    }

    .skill-container {
        padding: 20px;
    }
    .skill-title {
        font-size: 30px;

    }
    .skill-wrapper .design {
        font-size: 20px;
    }
    .skill-icon-container {
        width: 100%;
        height: 80px;
    }
    .skill-container {
        width: 100%;
    }
    .skill-desc {
        font-size: 16px;
    }
    .project-title {
        font-size: 20px;
        filter: drop-shadow(-6px -5px 0px rgba(255, 255, 255, 0.2));
    }
    .project-dates {
        font-size: 12px;
    }
    .project-name,
    .project-name.mid {
        font-size: 30px;
    }
    .project-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
    .contact-title {
        font-size: 30px;
        filter: drop-shadow(-6px -5px 0px rgba(255, 255, 255, 0.2));
    }
    .contact-name {
        font-size: 18px;
    }
    .contact-social-links {
        font-size: 18px;
    }
    .contact-email {
        font-size: 30px;
    }
}

@media only screen and (max-device-width: 375px) {
    /* styles for mobile browsers smaller than 360px; */
    .banner-title {
        font-size: 35px;
    }
    /* .banner-img {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150px;
    } */
}

@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .banner-title {
        font-size: 30px;
    }
    .project-name,
    .project-name.mid {
        font-size: 18px;
    }
    .project-date {
        font-size: 16px;
    }
    .contact-email {
        font-size: 25px;
    }
    /* .banner-img-bg {
        height: 350px;
        z-index: 5;
    } */
}

