.single-wrapper {
    max-width: 2560px;
    background-color: var(--bg-1);
    min-height: 100vh;
}
.single-title {
    color: var(--text);
    font-size: var(--fs-title);
    font-weight: bolder;
}
.single-dates {
    color: var(--text);
    font-weight: bold;
}
.single-col {
    width: 50%;
    border-radius: 5px;
}
.single-img-container{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    position: relative;
    transition: all ease-in-out 300ms;
}
.single-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.single-img-container .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-2);
    opacity: 0;
    transition: all ease-in-out 300ms;
}
.single-img-container:hover .modal-overlay,
.single-img-container:hover .single-text-overlay{
    opacity: 1;
}
.single-text-overlay {
    position: absolute;
    top: 0;
    color: var(--text);
    font-size: var(--fs-contact);
    opacity: 0;
    transition: all ease-in-out 300ms;
}
.single-stacks-title {
    color: var(--text);
    font-size: var(--fs-contact);
    font-weight: bold;
    position: relative;
    display: flex;
    display: inline-flex;
}
.single-stacks-title::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 30%;
    background-color: var(--text);
}
.left-badge,
.right-badge {
    color: var(--bg-1);
    font-size: var(--fs-nav);
    font-weight: bold;
    background-color: var(--text);
    border-radius: 5px;
}
.stacks-imgs-container {
    height: 40px;
    width: 40px;
    background-color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.stacks-imgs-container img {
    height: 60%;
    width: 60%;
}
.single-description {
    color: var(--desc);
    font-size: var(--fs-nav);
}



.single-btn {
    color: var(--desc);
    font-size: var(--fs-nav);
    transition: all ease-in-out 300ms;
    position: absolute;
    bottom: 0;
}
.single-btn:hover {
    color: var(--text-hover);
}
.single-btn:hover .arrow {
    margin-left: 10px;
}
.single-btn::after {
    content: '';
    display: block;
    height: 1.5px;
    background: var(--text-hover);
    transform: scaleX(0);
    transition: transform .3s;
}
.single-btn:hover::after {
    transform: scaleX(1);
    transition: transform .3s;
}



.features-box {
    padding: 10px 0;
}
.features-box .features-num,
.features-box .features-title{
    font-size: var(--fs-nav);
    border: 1px solid var(--tooltip);
}
.features-box .features-num{
    padding: 10px 10px;
    color: var(--text);
    font-weight: bolder;
    background-color: var(--tooltip);
}
.features-box .features-title {
    padding: 10px 5px;
    color: var(--bg-1);
    font-weight: normal;
    background-color: var(--text);
}

/* MODAL */
.modal-img {
    border-radius: 0 0 0.5rem 0.5rem;
}
.modal-content {
    border: none;
}
.banner-mobile {
    z-index: 10;
}
.banner-mobile a {
    color: var(--text);
    font-size: var(--fs-sm);
    font-weight: 600;
}



@media only screen and (min-device-width: 768px) {
    /* styles for browsers larger than 768px; */
    .single-title {
        font-size: 30px;
    }
    .single-col {
        width: 100%;
    }
    .single-img-container{
        height: 400px;
    }
}
@media only screen and (max-device-width: 767px) {
    /* styles for mobile browsers smaller than 768px; */
    .single-title {
        font-size: 30px;
    }
    .single-dates {
        font-size: 16px;
    }
    .single-col {
        width: 100%;
    }
    .single-img-container{
        height: 250px;
    }
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .single-col {
        width: 50%;
    }
    .single-img-container {
        height: 250px;
    }
    .left-badge,
    .right-badge {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
    .single-img-container{
        height: 350px;
    }
    .left-badge,
    .right-badge {
        font-size: var(--fs-nav);
    }
}


@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .single-stacks-title {
        font-size: 22px;
    }
    .single-title {
        font-size: 22px;
    }
    .single-dates {
        font-size: 16px;
    }
    .single-img-container{
        height: 200px;
    }
    .single-text-overlay {
        font-size: var(--fs-md);
    }
}
@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .single-title {
        font-size: 20px;
    }
    .single-dates {
        font-size: 14px;
    }
    .single-img-container{
        height: 150px;
    }
}